<h1>Internet Book Database</h1>
<h1>Current Books</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>Title</th> 
        <th>Author First Name</th> 
		<th>Author Last Name</th>
        <th>Year Published</th> 
		<th>Genre</th> 
    </thead> 
    <tbody> 
        {{#each books}} 
        <tr> 
            <td>{{title}}</td> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{year_published}}</td>
			<td>{{type}}</td>
            <td><button onclick="deleteBook({{id}})">Delete</button></td>
            <td><a href="/books/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addbook" action="addbook" method="post">
    Title: <input type="text" name="title"><br>
    Author: <select name="author"> 
        {{#each authors}}
        <option value="{{id}}">{{fname}} {{lname}}</option>
        {{/each}}
	</select><br>
	Year Published: <input type="number" name="year_published"><br>
    Genre: <select name="type"> 
        {{#each genre}}
        <option value="{{id}}">{{type}}</option>
        {{/each}}
	</select>
    <input type="submit" value="Submit">
    </form>
</table> 

<h1>Current Authors:</h1>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
		<th>DOB</th>
        <th>Country of Origin</th> 
    </thead> 
    <tbody> 
        {{#each authors}} 
        <tr> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{dob}}</td> 
            <td>{{origin}}</td>
            <td><button onclick="deleteAuthor({{id}})">Delete</button></td>
            <td><a href="/books/updateAuthor/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addauthor" action="addauthor" method="post">
    First Name: <input type="text" name="fname"><br>
	Last Name: <input type="text" name="lname"><br>
	Country of Origin: <input type="text" name="origin"><br>
    <input type="submit" value="Submit">
    </form>
</table>

<h1>Current Awards:</h1>
<table>
    <thead> 
        <th>Award Name</th>  
    </thead> 
    <tbody> 
        {{#each awards}} 
        <tr> 
            <td>{{name}}</td> 
            <td><button onclick="deleteAward({{id}})">Delete</button></td>
            <td><a href="/books/updateAuthor/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addaward" action="addaward" method="post">
    Award Name: <input type="text" name="fname"><br>
    <input type="submit" value="Submit">
    </form>
</table>

